
{% extends 'base.html' %}
{% block content %}
<style>
  .comment-textarea {
      resize: none;
      min-height: 60px; /* Adjust height as needed */
      padding: 0; /* Remove padding */
      margin: 0;
      line-height: normal;
      overflow-wrap: break-word;
  }
  </style>
  
<div class="container">
  <div class="row justify-content-center" style="margin-top: -7px;">
      <div class="col-md-4"> <!-- Adjust the width as needed -->
          {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert alert-{{ category }} alert-dismissible fade show custom-alert" role="alert">
              <span class="alert-message">{{ message }}</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
    
{% if blog %}
<div class="blog-container" style="max-width: 80%; margin: 20px auto; border: 1px solid #ccc; padding: 20px;">
    <!-- Blog title as a link -->
    <h2 style="text-align: center; text-decoration: none; color: #333; font-size: 24px; margin-bottom: 10px;">
        <a href="" style="text-decoration: none; color: rgb(32, 13, 13)">{{ blog['title'] }}</a>
    </h2>
    
    <img src="{{ blog['image_url'] | safe }}" alt="{{ blog['title'] }}" style="max-width: 100%; height: 400px; display: block; margin: 0 auto; padding: 10px 0;">
    <p style="font-style: italic; color: #666; margin-bottom: 5px;">Category: {{ blog['category_name'] }}</p>
    <!-- Content preview -->
    <p style="font-size: 16px; line-height: 1.5;">{{ blog['content'] | safe}}...</p>
    <p style="font-style: italic; color: #666; margin-bottom: 5px;">Author: {{ blog['author'] }}</p>

    <div>
          {% if current_user %}
          <!-- Like Button for Logged-in User -->
          <a href="javascript:void(0)" class="btn btn-outline flex-fill mt-auto like-btn" onclick="likeblog('{{ blog._id }}', '{{ current_user._id }}')" style="background-color: #8A2BE2; color: white; margin-left: 5px; margin-right: 5px; width: 30%">
              <!-- SVG Icon for Like -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="M8 14s-6-3.5-6-7a4 4 0 0 1 6-3.464A4 4 0 0 1 14 7c0 3.5-6 7-6 7z"/>
              </svg>
              Like
              <span>
                  ({{ blog.likes|length }})
              </span>
          </a>
      {% else %}
          <!-- Like Button for Non-Logged-in User (Redirect to Login) -->
          <a href="javascript:void" class="btn btn-outline flex-fill mt-auto like-btn" style="background-color: #8A2BE2; color: white; margin-left: 5px; margin-right: 5px; width: 30%">
              <!-- SVG Icon for Like -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="M8 14s-6-3.5-6-7a4 4 0 0 1 6-3.464A4 4 0 0 1 14 7c0 3.5-6 7-6 7z"/>
              </svg>
              Like
              <span>
                  ({{ blog.likes|length }})
              </span>
          </a>
      {% endif %}
      
  
      <!-- Comment Button -->
      <a href="#" class="comment-btn btn btn-outline flex-fill mt-auto " data-toggle="modal" data-target="#commentModal" style="background-color: #8A2BE2; color: white;margin-right: 5px; width: 30%">
          <!-- SVG Icon for Comment -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H9.414l-2.293 2.293A1 1 0 0 1 6 14V12H2V1zm1 1v9h2v2.586L7.586 12H13V2H3z"/>
          </svg>
          Comment
          <span>
            ({{ comments|length }})
          </span>
      </a>
  
      <!-- Share Button -->
      <a href="#" class="share-btn btn btn-outline flex-fill mt-auto" data-url="/blog?blog_id={{ blog['_id'] }}" data-title="{{ blog['title'] }}" style="background-color: #8A2BE2; color: white; margin-right: 5px; width: 30%">
          <!-- SVG Icon for Share -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
              <path d="M14 5.5a1.5 1.5 0 0 0-1.5-1.5c-.183 0-.362.026-.528.075l-6.042 3.12a1.5 1.5 0 0 0-.93 1.377v.956l-.62.309a1.5 1.5 0 0 0 .062.457l.347 1.04a1.5 1.5 0 0 0 1.415.992l1.048-.034h.948a1.5 1.5 0 0 0 1.377-.929L13.925 6c.05-.166.075-.345.075-.528zm-10-3a1.5 1.5 0 0 1 1.5-1.5c.183 0 .362.026.528.075l6.042 3.12a1.5 1.5 0 0 1 .93 1.377v.956l.62.309a1.5 1.5 0 0 1-.062.457l-.347 1.04a1.5 1.5 0 0 1-1.415.992l-1.048-.034h-.948a1.5 1.5 0 0 1-1.377-.929L2.075 6c-.05-.166-.075-.345-.075-.528z"/>
          </svg>
          Share
      </a>
  </div>
  
<!-- Comment Modal -->
<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="commentModalLabel">Comments</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Check if comments exist -->
              {% if comments %}
                  <!-- Display comments -->
                  <ul class="list-group">
                      {% for comment in comments %}
                          <li class="list-group-item">
                            <!-- Modify this line in your template -->
                            <span style="color: #8A2BE2; font-weight: bolder">{% for name in comment.user_name %}{{ name }}{% endfor %}:&nbsp;&nbsp;</span>
                            <span style="margin-right: 20px;">{{ comment.comment }}</span><span style="margin-right: 20px;"> {{ comment.time }}</span>

                            

                            <!-- Like button -->
                            <!-- Like button -->
                            {% if current_user %}
                            <form onsubmit="likeComment('{{ blog._id }}', '{{ current_user._id }}', '{{ comment.comment_id }}'); return false;" style="display: inline;">
                                <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                <!-- Display different buttons based on whether the user has already liked the comment -->
                              {% if current_user['_id'] in comment.likes %}
                                  <button type="submit" name="action" value="unlike" class="btn btn-sm btn-primary" style="margin-right: 20px;">
                                      <i class="far fa-thumbs-up"></i>
                                      Liked ({{ comment.likes|length }})
                                  </button>
                              {% else %}
                                  <button type="submit" name="action" value="like" class="btn btn-sm btn-outline-primary" style="margin-right: 20px;">
                                      <i class="far fa-thumbs-up"></i>
                                      Like ({{ comment.likes|length }})
                                  </button>
                                 
                                  
                              {% endif %}
                            </form>
                            {% endif %}
                            
                           


                              <!-- Delete button (if user owns the comment) -->
                              {% if current_user and comment.user_id == current_user['_id'] %}
                              <form onsubmit="deleteComment('{{ blog._id }}', '{{ current_user._id }}', '{{ comment.comment_id }}'); return false;" style="display: inline;">
                                  <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                              </form>
                             
                              {% endif %}
                             
                              


                          </li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p>No comments yet.</p>
              {% endif %}
          </div>
          <div class="modal-footer">
            {% if current_user %}
                <form id="commentForm" onsubmit="submitCommentForm('{{ current_user._id }}', '{{ blog._id }}'); return false;" style="width: 100%">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.comment.label }}
                        <textarea class="form-control comment-textarea" id="comment" name="comment" rows="5">{{ form.comment.data or '' }}</textarea>
                        {% if form.comment.errors %}
                            <span class="text-danger">{{ form.comment.errors[0] }}</span>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <p>You must be logged in to add a comment. <a href="/login">Login</a></p>
            {% endif %}
        </div>
        
      </div>
  </div>
</div>


  
    
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.querySelector('.share-btn').addEventListener('click', event => {
        const url = event.currentTarget.getAttribute('data-url');
        const title = event.currentTarget.getAttribute('data-title');
      
        if (navigator.share) {
          navigator.share({ title: title, url: url })
            .then(() => console.log('Shared successfully'))
            .catch((error) => console.error('Error sharing:', error));
        } else {
          console.error('Sharing not supported');
        }
      });      
</script>


<script>
  $(document).ready(function() {
    // Variable to store the current page URL
    let currentPageUrl;

    // Add event listener for the Comment button
    $('.comment-btn').click(function() {
        // Store the current page URL
        currentPageUrl = window.location.href;
        console.log(`this is from here ${currentPageUrl}`);
        // Show the comment modal
        $('#commentModal').modal('show');
    });

    // Add event listener for modal close event
    $('#commentModal').on('hidden.bs.modal', function (e) {
      // Delay the redirect by a short interval to ensure modal is fully hidden
      $('#commentModal').modal('hide');
          // Redirect back to the previous page
           // Reload the entire page
           //window.location.reload();
      });
});

</script>
<!-- JavaScript code to like  button clicks for blogs  -->
<script>
  function likeblog(blogId, userId) {
    // Send a POST request to the server to handle the like action
    fetch('/blogLikes?blog_id=' + blogId + '&user_id=' + userId, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      // Check if the request was successful
      if (response.ok) {
        // Fetch the updated like button HTML string from the server
        fetch('/getUpdatedLikeButton?blog_id=' + blogId  + '&user_id=' + userId)
          .then(response => response.text())
          .then(data => {
            // Replace the existing like button with the updated like button HTML
            const likeButton = document.querySelector('.like-btn');
            likeButton.outerHTML = data;
          })
          .catch(error => {
            console.error('Error:', error);
          });
      } else {
        console.error('Failed to like blog');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
</script>


<script>
// Function to handle the like button click
function likeComment(blogId, userId, commentId) {
  // Store the current state of the modal
  const modalOpen = $('#commentModal').hasClass('show');
  
  // Send a POST request to the server
  fetch('/like_comment?blog_id=' + blogId + '&user_id=' + userId, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      comment_id: commentId
    })
  })
  .then(response => {
    // Check if the request was successful
    if (response.ok) {
      // Reload the content of the modal
      $('#commentModal .modal-content').load(window.location.href + ' #commentModal .modal-content', function() {
        // Check if the modal was open before the like request
        if (modalOpen) {
          // Reopen the modal
          $('#commentModal').modal('show');
        }
      });
    } else {
      console.error('Failed to like comment');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}
</script>

<script>
// Function to handle the delete button click
function deleteComment(blogId, userId, commentId) {
  // Store the current state of the modal
  const modalOpen = $('#commentModal').hasClass('show');

  // Send a POST request to the server to delete the comment
  fetch('/delete_comment?user_id=' + userId + '&blog_id=' + blogId, {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          comment_id: commentId
      })
  })
  .then(response => {
      // Check if the request was successful
      if (response.ok) {
          // Reload the content of the modal
          $('#commentModal .modal-content').load(window.location.href + ' #commentModal .modal-content', function() {
              // Restore the modal state
              if (modalOpen) {
                  $('#commentModal').modal('show');
              }
          });
      } else {
          console.error('Failed to delete comment');
      }
  })
  .catch(error => {
      console.error('Error:', error);
  });
}



</script>

{% if current_user %}

<!-- JavaScript -->

  <script>
    // Function to handle the comment form submission
    function submitCommentForm(userId, blogId) {
        // Check if the modal is open
        const modalOpen = $('#commentModal').hasClass('show');

        // Construct the URL with the user ID and blog ID
        const url = '/blog_?user_id=' + userId + '&blog_id=' + blogId;

        // Submit the form using AJAX
        const formData = new FormData(document.getElementById('commentForm'));
        fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            // Check if the request was successful
            if (response.ok) {
                // Reload the content of the modal
                $('#commentModal .modal-content').load(window.location.href + ' #commentModal .modal-content', function() {
                    // Restore the modal state
                    if (modalOpen) {
                        $('#commentModal').modal('show');
                    }
                });
                // Optionally, clear the comment textarea
                document.getElementById('comment').value = '';
                console.log('Comment submitted successfully');
            } else {
                console.error('Failed to submit comment');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endif %}




{% endblock %}