{% extends 'base2.html' %}
{% block content %}
<style>   
     
    .custom-carousel {
        height: 300px;
        overflow: hidden;
    }
    .card {
        height: 450px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-text {
        flex-grow: 1;
    }
  

         /* Custom CSS for alert messages */
         .custom-alert {
            margin-top: 20px; /* Adjust the top margin as needed */
            border-radius: 10px; /* Adjust the border radius as needed */
            padding: 15px; /* Adjust the padding as needed */
        }

        /* Custom CSS for alert message text */
        .alert-message {
            font-size: 16px; /* Adjust the font size as needed */
            font-weight: bold; /* Optionally adjust the font weight */
        }

        /* Custom CSS for close button */
        .btn-close {
            padding: 0.5rem; /* Adjust the padding as needed */
            font-size: 1rem; /* Adjust the font size as needed */
            color: #8A2BE2; /* Optionally adjust the close button color */
        }
</style>

<body>
    

<br/>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: -7px;">
            <div class="col-md-4"> <!-- Adjust the width as needed -->
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissible fade show custom-alert" role="alert">
                    <span class="alert-message">{{ message }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- First column: Author section -->
            <div class="col-md-2">
                {% if current_user %}
                <div>
                    <h6 style="font-weight: bold"><span style="color: #8616ee; margin-left: -50px; font-weight: bold;">User:&ensp;</span> {{ current_user['first_name'] }} {% if current_user['last_name'] %}{{ current_user['last_name'] }} {% endif %}</h6>
                </div>
                {% endif %}
            </div>
            
            <!-- Second column: Middle section with categories dropdown and search form -->
            <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="navbar-brand dropdown me-3">
                        <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; border-color: black; background-color: transparent;" onmouseover="this.style.color='#000000'; this.style.backgroundColor='#8A2BE2';" onmouseout="this.style.backgroundColor='transparent';">
                            Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href='/category?category=Technology&user_id={{ current_user["_id"] }}'>Technology</a></li>
                            <li><a class="dropdown-item" href='/category?category=Science&user_id={{ current_user["_id"] }}'>Science</a></li>
                            <li><a class="dropdown-item" href='/category?category=Travel&user_id={{ current_user["_id"] }}'>Travel</a></li>
                            <li><a class="dropdown-item" href='/category?category=Health&user_id={{ current_user["_id"] }}'>Health</a></li>
                            <li><a class="dropdown-item" href='/category?category=Food&user_id={{ current_user["_id"] }}'>Food</a></li>
                        </ul>
                    </div>
                    <<form class="d-flex" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.keyword(class_="form-control me-2", placeholder="Search", aria_label="Search", style="border-color: black;") | safe }}
                        {{ form.submit(class_="btn btn-outline-success", style="color: #8616ee ; border-color:black; background-color: transparent;", onmouseover="this.style.color='#000000'; this.style.backgroundColor='#8616ee' ;", onmouseout="this.style.backgroundColor='transparent';") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    {% if not searched_blogs %}
    <div class="container">
        <!-- Row containing both left and right side content -->
        <div class="row">
            <!-- Left side content -->
            <div class="col-md-7">
                <div class="text-start">
                    <br/>
                    <br/>
                    <h3>Learn from the</h3>
                    <h3>best, and</h3>
                    <h3>become the</h3>
                    <h3>best.</h3>
                    <h6>Learn it by doing it for Free with practical step by step Series and Articles.</h6>
                </div>
            </div>
            
           
            <!-- Right side content (carousel) -->
            <div class="col-md-5">
                <div id="carouselExampleCaptions" class="carousel slide custom-carousel" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <!-- Indicators buttons -->
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
    
                    <div class="carousel-inner">
                        <!-- Carousel items -->
                        {% for i in range(3) %}
                        <div class="carousel-item {% if i == 0 %} active {% endif %}">
                            {% if blogs[i]['image_url'] %}
                            <img src="{{ blogs[i]['image_url'] }}" class="d-block w-100" alt="...">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 40px;">
                                <h5>{{ blogs[i]['category_name'] }}</h5>
                                <p>{{ blogs[i]['title'] }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <!-- Previous button -->
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <!-- Next button -->
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
           
        </div>
    </div>

    <br/>
    <!-- Recent Articles -->
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="text-center" style="font-weight: bold;">Recent Articles</h3>
        </div>
    </div>
    {% endif %}


    <br/>
    <br/>
    <div class="container">
        {% if not searched_blogs %}
            {% set blogs_to_display = blogs %}
        {% else %}
            {% set blogs_to_display = searched_blogs %}
        {% endif %}
    
        {% for blog in blogs_to_display %}
            {% if loop.index % 3 == 1 %}
                <div class="row row-cols-1 row-cols-md-3 g-3">
            {% endif %}
            
            <div class="col">
                <div class="card">
                   
                    
                    <div class="card-body">
                        <div class="card-title">
                            <h6 style="font-weight: bold">{{ blog['title'] }}</h6>
                        </div>
                        {% if blog['image_url'] %}
                        <img src="{{ blog['image_url'] }}" class="card-img-top img-fluid" alt="{{ blog['title'] }}" style="width: 100%; height: 35%;">
                        {% endif %}
                        
                        <div class="card-text">
                            <p>
                                {{ blog['content'][:140] | safe }}
                            </p>
                        </div>
                        
                        <div>
                            <a href="/blog_?blog_id={{ blog['_id'] }}&user_id={{ current_user['_id'] }}" class="btn btn-outline mt-auto" style="background-color: #8A2BE2; color: white;">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if loop.index % 3 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
<br/>
<br/>
<br/>
<br/>

{% endblock %}