
<style>
    /* Adjust the layout for screens below 1000px */
    @media screen and (max-width: 1000px) {
        .navbar {
            padding-left: 10px;
        }
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#a961ec9c">
    <div class="container-fluid">
        <!-- Navbar brand at the beginning -->
        <a class="navbar-brand" style="color: #8A2BE2; font-weight: bold; text-decoration: none; font-family: 'Verdana', sans-serif; font-size: 20px;" href="/">B<span class="black-text" style="color: rgb(26, 17, 17); font-weight: bold; text-decoration: none; font-family: 'Verdana', sans-serif; font-size: 20px;">logify</span></a>

        <!-- Toggler button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items, search, and form -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- Navbar items aligned to the right -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 15px;">
                <li class="nav-item">
                    <a class="nav-link active "   aria-current="page"  href="/" style="font-size: 17px; font-weight: bold" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"   aria-current="page"  href="/signup" style="font-size: 17px; font-weight: bold" >Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"   aria-current="page" href="/login" style="font-size: 17px; font-weight: bold ">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

