{% extends 'base.html' %}
{% block content %}


<style>
    /* Form container styling */
    .form-container {
        width: 100%;
        padding: 20px;
        margin: 20px; /* Add margin from all sides */
        background-color: #f9f9f9; /* Light background color */
        border: 1px solid #ccc; /* Border */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    }

    /* Error message styling */
    .error-message {
        font-weight: bold;
        color: #ff0000;
        margin-top: 5px;
    }

    /* Input field styling */
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #a961ec46; /* Lighter background color for inputs */
        color: #333; /* Text color */
    }

    /* Submit button styling */
    .submit-button {
        width: 100%;
        padding: 10px;
        background-color: #8A2BE2; /* Purple background color */
        color: #fff; /* Text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .submit-button:hover {
        background-color: #6e1cb7; /* Darker purple on hover */
    }

     /* Custom styling for the Sign up To Blogify heading */
     .signup-heading {
        text-align: center; /* Center the text */
        font-family: 'Verdana', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .signup-heading span {
        font-weight: bold;
    }

    .signup-heading .color1 {
        color: #8A2BE2;
    }

    .signup-heading .color2 {
        color: #1a1111;
    }
    /* Adjust the layout for screens below 1000px */
    @media screen and (max-width: 1000px) {
        .signup-img {
            display: none !important;
        }
    }
</style>


    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}


<br/>
<div class="row">
    <h4 class="signup-heading">
        <span style="color: #8A2BE2; font-weight: bold;">S</span><span class="black-text" style="color: rgb(26, 17, 17); font-weight: bold;">ign up To</span> 
        <span class="black-text" style="color: rgb(26, 17, 17); font-weight: bold;">B</span><span style="color: #8A2BE2; font-weight: bold;">logify</span>
    </h4>
    <div class="col-md-6 d-flex justify-content-center align-items-center shared-border signup-img">
        <img src="https://res.cloudinary.com/dedqtmnp2/image/upload/v1711335071/3-purple-sign-up_fkjwxj.jpg" alt="Description of your image" class="img-fluid">
    </div>
    <div class="col-md-1"></div>   
         <div class="col-md-5 d-flex justify-content-center align-items-center shared-border" style="margin-bottom: 6px">
        <form  method="POST" class="form-container">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Email") }}
                {% for error in form.email.errors %}
                    <span class="text-danger error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control", placeholder="First Name") }}
                {% for error in form.first_name.errors %}
                    <span class="text-danger error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control", placeholder="Last Name") }}
                {% for error in form.last_name.errors %}
                    <span class="text-danger error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {% if form.password.errors %}
                    <span class="text-danger error-message">{{ form.password.errors[-1] }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group" style="margin-top: 15px;">
                {{ form.submit(class="btn submit-button", style="background-color: #8A2BE2") }}
            </div>
        </form>
    </div>
</div>
<br/>
<br/>


{% endblock %}