{% if current_user %}

<a href="javascript:void(0)" class="btn btn-outline flex-fill mt-auto like-btn" onclick="likeblog('{{ blog._id }}', '{{ current_user._id }}')" style="background-color: #8A2BE2; color: white; margin-left: 5px; margin-right: 5px; width: 30%">
    <!-- SVG Icon for Like -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="M8 14s-6-3.5-6-7a4 4 0 0 1 6-3.464A4 4 0 0 1 14 7c0 3.5-6 7-6 7z"/>
    </svg>
    Like
    <span>
        ({{  blog_likes_count }})
    </span>
</a>

{% endif %}